<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/base.css" type="text/css"/>
</head>
<body>
<div th:fragment="navbar">
<header>
    <div class="wrapper">

        <h1 class="zocial-twitter"></h1>

        <nav role="navigation">

            <ul>

                <li class="active">
                    <a th:href="@{/}" class="active">
                        <span class="iconicstroke-home"></span> Home
                    </a>
                </li>
                <!--<li>
                    <a href="#"><span class="iconicstroke-at"></span> Connect</a>
                </li>-->
                <li>
                    <a th:href="@{/addprofile}"><span class="iconicstroke-hash"></span> Add to profile</a>
                </li>
                <li>
                    <a th:href="@{/showprofile}"><span class="iconicstroke-user"></span> My profile</a>
                </li>
                <li>
                    <a th:href="@{/listprofile}"><span class="iconicstroke-user"></span> profiled articles</a>
                </li>

                <li>
                    <a th:href="@{/logout?logout}"  sec:authorize="isAuthenticated()">Log Out</a>
                </li>

            </ul>

        </nav>

        <ul class="utilities">
            <li>
                <form th:action ="@{/searchterm}" method="post">
                    <input class="search-input" type="text" id="search-query" placeholder="Search" name="q" autocomplete="off" spellcheck="false" aria-autocomplete="list" aria-haspopup="true" aria-controls="typeahead-dropdown-14" dir="ltr" style="direction: ltr; text-align: left;">
                </form>
            </li>
            <li><a href="#"><span class="iconicstroke-mail"></span></a></li>
            <li><a href="#"><span class="iconicstroke-cog"></span></a></li>
            <li></li>
        </ul>

    </div>
</header>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</div>
</body>
</html>