<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="/css/head.css" type="text/css"/>
    <div th:replace ="base :: navbar"></div>
</head>
<body>

    <h1>headline news</h1>

    <div class="news-holder cf" th:each="ti : ${hey}">

        <ul class="news-headlines" >
            <li class="selected" th:text=${ti.title}></li>
            <li  th:text=${ti.author}></li>
            <li  th:text=${ti.publishedAt}></li>

        </ul>

        <div class="news-preview">

            <div class="news-content top-content">
                <img th:src="${ti.urlToImage}" >
                <p><a th:href="${ti.url}">[[${ti.title}]]</a></p>

                <p th:text=${ti.description}></p>
            </div>
            <!-- .news-content -->

            <!-- .news-content -->

        </div>
        <!-- .news-preview -->

    </div>
    <!-- .news-holder -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="/js/head.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/jquery-1.8.1.min.js"><\/script>')
    </script>

    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1965499-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>


<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


</body>
</html>